#asciidocContainer {
    width: 100%;
    height: 96vh;
    overflow: hidden;
    border: 1px solid #aaa;
}

#btnExport {
    display: inline;
    width: 50%;
    float: left;
}

#inputTextContainer, #converted {
    width: 50%;
    height: 100%;
    overflow: hidden;
    float: left;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#inputTextContainer {
    border-right: 1px solid #aaa;
}
#inputText {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    background: #EAF3FF;
}

#converted {
    padding: 0 20px;
    overflow-y: scroll;
    overflow-x: auto;
}
